div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}
div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}


div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

/* 기본 레이아웃 s */
div.wone-global-wrap {
    display: flex;
    flex-flow: row wrap;
}
div.wone-menu-wrap {
    width: 230px;
    height: 100vh;
    background-color: #ededed;
    flex-direction: column;
}
div.wone-menu-wrap div.wone-people-info-wrap {
    display: flex;
    border-bottom: #c8c8c8 1px solid;
}
div.wone-people-info-wrap > div.in-logo {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    padding: 20px;
}
div.wone-people-info-wrap > div.in-logo img {
    width: 75px;
    height: 50px;
}
div.wone-people-info-wrap > div.in-info {
    padding: 20px 0 0 20px;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 1.5;
}
div.wone-people-info-wrap > div.in-info strong {
    font-weight: 700;
}
div.wone-people-info-wrap > div.in-info span {
    color: #3498db;
    font-size: 18px;
}
div.wone-menu-wrap > div.wone-menu-box {
    margin-left: 34px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #3498db;
}

.depth2-info {
    font-size: 14px;
    line-height: 3.5;
    width: 230px;
    position: relative;
}

.menu-hover {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    display: none;
}

.depth2-info:hover .menu-hover {
    display: block;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info {
    height: 50px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #3498db;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info i.el-icon-s-home {
    font-size: 25px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-data-analysis{
    font-size: 22px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info i.el-icon-edit-outline {
    font-size: 25px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-s-tools{
    font-size: 22px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-user-solid{
    font-size: 22px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth1-info i.el-icon-warning {
    font-size: 25px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-s-comment{
    font-size: 22px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-document{
    font-size: 22px;
}

div.wone-menu-wrap > div.wone-menu-box div.depth2-info i.el-icon-s-opportunity{
    font-size: 22px;
}

div.wone-contents-wrap {
    display: flex;
    padding: 23px 30px;
}

div.wone-contents-wrap {
    display: flex;
    flex-direction: column;
}

div.wone-contents-wrap div.wone-bread-info-wrap div.depth1 {
    color: #9e9e9e;
    font-size: 14px;
}

div.wone-contents-wrap div.wone-bread-info-wrap div.depth2 {
    color: #3498db;
    font-size: 20px;
    font-weight: 700;
}

div.wone-page-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
}

div.wone-contents-wrap > div.wone-page-wrap div.user-inflow-out-box{
    margin-top: 10px;
    padding: 12px;
    width: 440px;
    height: 340px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.total-user {
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap div.total-people{
    font-size: 18px;
    font-weight: 700;
    color: #3498db;
}

div.wone-contents-wrap > div.wone-page-wrap i.number-of-people{
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.user-inflow-inner-box{
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.notice-out-box {
    margin-top: 12px;
    padding: 12px;
    width: 440px;
    height: 190px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.notice{
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.notice-inner-box {
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.user-list-out-box {
    margin: 10px 0 0 12px;
    padding: 12px;
    width: 440px;
    height: 440px;
    background-color: #ededed;
    border-radius: 8px;
}

div.wone-contents-wrap > div.wone-page-wrap div.user-list{
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
}

div.wone-contents-wrap > div.wone-page-wrap i.user-list-inner-box {
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
    padding: 10px;
    width: 420px;
    height: 380px;
    background-color: #ffffff;
    border-radius: 4px;
}

div.wone-contents-wrap > div.wone-page-wrap div.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 12px;
    padding: 12px;
    width: 440px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;
    background-color: #ededed;
    border-radius: 8px;
}


