<template>
    <div class="wone-main-container">
    </div>

</template>


<script>
export default {
    data() {
        return {
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
