<template>
    <div class="wone-main-container">
    </div>
</template>


<script>
export default {
    data() {
        return {
            tableData: [{
                name: 'admin',
                username: 'admin',
                joindate: '-',
                email: 'admin@gmail.com',
                roles:'관리자'
            }, {
                name: '김길동',
                username: 'dongdong11',
                joindate: '2023.11.30',
                email: 'dongdong11@gmail.com',
                roles:'사용자'
            }, {
                name: '김철수',
                username: 'kcs1121',
                joindate: '2023.11.30',
                email: 'kcs1121@gmail.com',
                roles:'사용자'
            }, {
                name: '박영희',
                username: 'pyh1222',
                joindate: '2023.11.30',
                email: 'pyh1222@gmail.com',
                roles:'사용자'
            }],
            currentRow: null
        }
    },

    methods: {
        setCurrent(row) {
            this.$refs.singleTable.setCurrentRow(row);
        },
        handleCurrentChange(val) {
            this.currentRow = val;
        }
    }
}
</script>
